<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<ui:composition template="template/frame-template.xhtml">
    <ui:define name="content">
        This page contains only minimum for creating a page from the template.

        <br/>
        Service info: #{servletContextBean.serverInfo}
        <br/>
        Jsf version: #{servletContextBean.jsfVersion}
    </ui:define>
</ui:composition>
</html>
