<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"> <!-- https://docs.oracle.com/javaee/7/tutorial/jsf-facelets009.htm -->

<h:body>
    <ui:composition template="/pages/template/frame-template.xhtml">
        <ui:define name="content">
            <h:outputText value="Welcome #{simpleFormBean.name}, from #{simpleFormBean.land}"/>
            <br/>
            <h:button p:autofocus="autofocus" value="Back" outcome="welcome"/>
        </ui:define>
    </ui:composition>
</h:body>
</html>
