<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"> <!-- https://docs.oracle.com/javaee/7/tutorial/jsf-facelets009.htm -->
<h:body>
    <ui:composition template="template/frame-template.xhtml">
        <ui:define name="content">
            <h:form>
                Name:<h:inputText id="name"
                             p:autofocus="autofocus"
                             value="#{simpleFormBean.name}"/>
                Land:<h:inputText id="age"
                             value="#{simpleFormBean.land}"/>
                <h:commandButton value="Submit" action="response"/> <!-- Implicit navigation https://docs.oracle.com/javaee/7/tutorial/jsf-intro005.htm#BNAQL -->
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>
</html>
