<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<!-- https://docs.oracle.com/javaee/7/tutorial/jsf-facelets004.htm#GIQXP -->
<!-- http://getbootstrap.com/getting-started/#template -->
<h:head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <h:outputStylesheet library="default" name="/css/bootstrap.min.css"/>
    <title>JSF example</title>
</h:head>
<h:body>
    <div class="container">
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li class="active"><h:link outcome="welcome">Welcome</h:link> </li>
                <li><h:link outcome="info">Info</h:link></li>
            </ul>
        </nav>

        <ui:insert name="content"/>

        <h:outputScript library="default" name="/js/jquery-3.2.1.min.js"/>
        <h:outputScript library="default" name="/js/bootstrap.min.js"/>
    </div>
</h:body>
</html>
